<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
    #goods {
        cursor: pointer;
        width: 100px;
        height: 40px;
        line-height: 40px;
        border: 1px solid deeppink;
        text-align: center;
        color: deeppink;
    }

    #goods:hover {
        color: #fff;
        background-color: deeppink;
    }

    #cart {
        position: fixed;
        left: 600px;
        top: 600px;
        color: deeppink;
        border: 1px solid deeppink;
    }
    </style>
</head>

<body>
    <div id="goods">
        商品
    </div>
    <div id="cart">
        购物车
    </div>
    <script>
    var goodsDom = document.querySelector("#goods");
    var cartDom = document.querySelector("#cart");
    goodsDom.onclick = function() {
        var goodsXLeft = goodsDom.offsetLeft;
        var goodsYTop = goodsDom.offsetTop;
        var startX = goodsXLeft + 100;
        var startY = goodsYTop - document.body.scrollTop + 12;
        var endX = cartDom.offsetLeft;
        var endY = cartDom.offsetTop;
        var diffX = endX - startX;
        var diffY = endY - startY;
        //  假设中点(0, 0)，也就是方程中的c为0
        var c = 0;
        var a = (endY / endX - startY / startX) / (endX - startX);
        var b = endY / endX - a * endX;
        // 创建一个移动的dom
        var movingDom = document.createElement("div");
        movingDom.style.position = 'fixed';
        movingDom.style.left = startX + 'px';
        movingDom.style.top = startY + 'px';
        movingDom.style.height = '16px';
        movingDom.style.width = '16px';
        movingDom.style.borderRadius = '8px';
        movingDom.style.background = 'red';
        document.body.appendChild(movingDom)
        // 定义移动的dom的x, y
        var x = startX;
        var y = startY;
        var ax2 = 0;
        var bx = 0;
        var time = setInterval(function() {
            if (x < endX) {
                x = x + 2;
                ax2 = a * x * x;
                bx = b * x;
                y = ax2 + bx;
                console.log(ax2, bx, y)
                movingDom.style.left = x + 'px';
                movingDom.style.top = y + 'px';
            } else {
                movingDom.parentNode.removeChild(movingDom)
                clearInterval(time);
            }
        }, 10)
    }
    </script>
</body>

</html>