<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>  
      *{
        padding: 0;
        margin: 0;
      }
      section {display: flex;}
      .left-side,
      .right-side {width: 200px;}
      .content {flex-grow: 1;}
      div{
        border:1px solid #f00;
      }
    </style>
</head>

<body>
    <section>
      <div class="left-side">1</div>
      <div class="content">
        2
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="right-side">3</div>
    </section>
</body>

</html>