<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        *{margin: 0;padding: 0;}
    div{
        width:640px;
        height: 324px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        border:1px solid #000;
        box-sizing: border-box;
        font-size: 0;
    }
    img {
        box-sizing: border-box;
        width:   200px;
        border:1px solid #f00;
         object-fit: contain;
         object-position:center;
       
    }
    </style>
</head>
<body>
    <!-- <div class="imgcon"><img src="http://test.res.mixtmt.com/img/team-rank-162.png" alt=""></div> -->
    <div><img src="http://test.res.mixtmt.com/img/team-rank-162.png" alt="haha"></div>
</body>
</html>