<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    *{margin: 0;padding: 0}
    .content{
       overflow: hidden;
    }
    .left{
        background-color: red;
        float: left;
        width: 100px;
        word-break: break-all;
        margin-bottom: -10000px;
        padding-bottom: 10000px;
    }
    .right{
        margin-left: 100px;
        background-color: green;
    }
   
</style>
<body>
<div class="content">
    <div class="left">
        ewqewqeqwewqh
    </div>
    <div class="right">
        <p class="e">今天做了一个练习，要求用两种方法来实现左侧宽度固定、右侧宽度自适应的两列布局。一开始我以为会很简单，毕竟只是练习，但是我写出了一种方法之后却没能顺利的写出第二种方法。对于网上的一些解决方法我还是不太满意，于是自己继续琢磨着，问问一些前辈，希望得到一些思路。终于，皇天不负有心人，在自己翻译的一篇关于BFC的文章上，我找到了解决的方法。 　　关于左侧宽度固定，右侧宽度自适应两列布局的一种很常用的方法我相信大家都知道。就是利用左侧元素浮动，或者绝对定位的方式使其脱离常规文档流，让两个块级元素能够在同一行显示。然后右侧元素 margin-left 的值等于左侧元素宽度，这时右侧元素将紧挨着左侧元素，由于块元素的宽度会自动默认充满剩下的屏幕，所以就实现了右侧自适应的效果了。</p >
        <p>2w</p >
        <p class="e">qqq</p >
    </div>
</div>
</body>
</html>