<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style type="text/css">
    .row {
        position: absolute;
        width: 400px;
        overflow: hidden;
    }

    .slide {
        background-color: rgba(0, 255, 0, .3);
        padding: 5px;
        transition: all 2s cubic-bezier(0, 1, 0.5, 1);
        transform: translateY(0);
    }

    .slide-up {
        transform: translateY(-100%);
    }
    }

    #toggleSilder {
        position: relative;
    }
    </style>
</head>

<body>
    <button id="toggleSlider">Toggle Slider</button>
    <div>
        23424234234
    </div>
    <div class="row">
        <div class="slide slide-up">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim minus repellat amet nobis hic dolores blanditiis inventore quo ex quaerat omnis accusantium adipisci velit laborum facilis culpa nemo ab placeat!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque voluptates tempore optio est nihil earum neque atque vero voluptatibus deserunt. Doloribus error voluptatem non quo molestias quisquam repellat odio tempora.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus culpa voluptate architecto deserunt nemo animi officiis debitis necessitatibus deleniti nobis pariatur doloribus facilis suscipit ipsa earum consectetur eligendi. Perspiciatis ratione. lorem</div>
    </div>
    <script type="text/javascript">
    var toggleButton = document.getElementById('toggleSlider'),
        slide = document.querySelector('.slide');

    toggleButton.addEventListener('click', toggleSlider, false);

    function toggleSlider() {
        if (slide.classList.contains('slide-up')) {
            slide.classList.remove('slide-up');
        } else {
            slide.classList.add('slide-up');
        }
    }
    </script>
</body>

</html>